.imgbanner {
	height: 400px;
	background-image: url(../img/ban5.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	background-repeat: no-repeat;

}


header h1  {
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
	margin-top: 200px;
	font-size: 65px;
	letter-spacing: 4px;
	
}

header h2{
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 4px;
	color: white;
	margin-top: -15px;	
	font-size: 20px;	
}


.menu {
	font-family: "Roboto Condensed";
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 100px;


}

.menu ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 40px;

}

.fa {
	color: white;
}
.menu ul li {
	margin-left: 15px;
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
}

.menu ul li a:hover {
	color: #202020;
}

h2{
font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 4px;
	color: black;
    font-size: 30px;
    margin-top: 50px;
    
}

.menuTortas{
	margin-top: 50px;
}

.marginTortas{
	margin-top: 25px;
}

/* footer */

footer{
	
	background-color: #333;	
	color: #fff;
	height: 50px;	
}


footer .marg {
	margin-top: 20px;

}

.linkgit {
	text-decoration: none;
	color: white;
}

.linkgit:hover{
	text-decoration: none;
	color: #F15425;
}